#Root_Reports .middleColumn {
	background: none;
}

#Root_Reports label {
	font-size: 14pt;
	font-weight: bold;
}

#RenderRaw label, #ConversionRaw label {
	margin-top: 20px;
}

/* pop-up needs to be higher to accommodate page tree selector */
/*#GB_window {
	height: 500px;
}

#Root_Main {
	height: 390px;
}*/